body {
    font-family: Arial, sans-serif;
    background-color: #d9dadb;
    color: #ffffff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.login-container {
    max-width: 400px;
    padding: 30px;
    background-color: #050505;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
}

h1 {
    color: #ffffff; 
    margin-bottom: 20px;
    text-align: center;
}

hr {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-bottom: 20px;
}